# Python
__pycache__/
*.py[cod]
*$py.class

# Envs & venvs
.env
.venv/
venv/
ENV/

# Telethon session
*.session
*.session-journal
var/

# State & logs
state.json
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/



