# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Env & secrets
.env
magadh
magadh.pub

# Telethon session files and state
var/
*.session
*.session-journal

# SQLite DB
*.db

# OS
.DS_Store
Thumbs.db

# Build
*.egg-info/
.dist/
.build/



